.search-wrap{
	padding: 20px;
}
.g-search-text{
	width: 156px;
	height: 36px;
	border: 1px solid rgb(199,199,199);
	text-indent: 38px;
	background: url(../img/magnifier.png) no-repeat left 50%;
}
.g-button{
	position: relative;
	top:8px;
	left: -1px;
	height: 40px;
	width: 56px;
	color:white;
	font-size: 30px;
	font-weight: bold;
	background: rgb(221,221,221);
	border: 1px solid rgb(199,199,199);
}
.g-button:focus{
	background: rgb(153,153,153);
	color:black;
}
input:focus{
	border:1px solid black;
	/*outline: 1px solid black;*/
}