.rank{
	list-style: none;
}
.rank h4{
	margin-bottom: 10px;
}
.rank li{
	margin-bottom: 15px;
}
.num,
.rectangle,
.full,
.empty{
	float: left;
}
.num,
.rectangle{
	margin-right: 10px;
}
.num{
	color:white;
	width: 18px;height: 18px;
	background-color: rgb(82,42,92);
	border-radius: 100%;
	text-align: center;
	line-height: 18px;
}
.rectangle{
	border:1px solid black;
	width: 80px;height: 18px;
}
.full{
	background-color: rgb(82,42,92);
	height: 18px;
}
.full-1{
	width: 80px;	
}
.full-2{
	width: 70px;	
}
.full-3{
	width: 60px;	
}
.full-4{
	width: 40px;	
}
.full-5{
	width: 20px;	
}